@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Sev-Aueb Skills4Jobs / Informatics Application Engineer - Final Project</h2>
    <p>Created by Georgios Rerras-Tseperkas</p>
</div>

<br><br><br>


<div class="main-page">
        <img src="~/lib/img/og-sev.jpg" alt="ΣΕΒ" width="600px" height="auto" />
        <img src="~/lib/img/aueb.jpg" alt="Οικονομικό Πανεπιστήμιο Αθηνών" width="600px" height="auto">
    </div> 

<div>
    <img src="~/lib/img/skills.png" alt="ΣΕΒ" width="600px" height="auto" />
</div>