USE [master]
GO
/****** Object:  Database [SevDB]    Script Date: 10/16/2022 3:44:13 PM ******/
CREATE DATABASE [SevDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SevDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SevDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SevDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SevDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SevDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SevDB]
GO
/****** Object:  Table [dbo].[COURSES]    Script Date: 10/16/2022 3:44:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSES](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NULL,
	[TEACHERID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENTCOURSES]    Script Date: 10/16/2022 3:44:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTCOURSES](
	[STUDENTID] [int] NOT NULL,
	[COURSEID] [int] NOT NULL,
 CONSTRAINT [PK_STUDENTCOURSES] PRIMARY KEY CLUSTERED 
(
	[STUDENTID] ASC,
	[COURSEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 10/16/2022 3:44:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [nvarchar](50) NULL,
	[LASTNAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEACHERS]    Script Date: 10/16/2022 3:44:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACHERS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [nvarchar](50) NULL,
	[LASTNAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_COURSES_TEACHERID]    Script Date: 10/16/2022 3:44:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_COURSES_TEACHERID] ON [dbo].[COURSES]
(
	[TEACHERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_STUDENTS_LASTNAME]    Script Date: 10/16/2022 3:44:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_STUDENTS_LASTNAME] ON [dbo].[STUDENTS]
(
	[LASTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TEACHERS_LASTNAME]    Script Date: 10/16/2022 3:44:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_TEACHERS_LASTNAME] ON [dbo].[TEACHERS]
(
	[LASTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_TEACHERID] FOREIGN KEY([TEACHERID])
REFERENCES [dbo].[TEACHERS] ([Id])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK_COURSES_TEACHERID]
GO
ALTER TABLE [dbo].[STUDENTCOURSES]  WITH NOCHECK ADD  CONSTRAINT [FK_STUDENTCOURSES_COURSEID] FOREIGN KEY([COURSEID])
REFERENCES [dbo].[COURSES] ([Id])
GO
ALTER TABLE [dbo].[STUDENTCOURSES] CHECK CONSTRAINT [FK_STUDENTCOURSES_COURSEID]
GO
ALTER TABLE [dbo].[STUDENTCOURSES]  WITH NOCHECK ADD  CONSTRAINT [FK_STUDENTCOURSES_STUDENTID] FOREIGN KEY([STUDENTID])
REFERENCES [dbo].[STUDENTS] ([Id])
GO
ALTER TABLE [dbo].[STUDENTCOURSES] CHECK CONSTRAINT [FK_STUDENTCOURSES_STUDENTID]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [CK_COURSES_DESCRIPTION] CHECK  ((len([DESCRIPTION])>=(1)))
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [CK_COURSES_DESCRIPTION]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [CK_STUDENTS_FIRSTNAME] CHECK  ((len([FIRSTNAME])>=(1)))
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [CK_STUDENTS_FIRSTNAME]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [CK_STUDENTS_LASTNAME] CHECK  ((len([LASTNAME])>=(1)))
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [CK_STUDENTS_LASTNAME]
GO
ALTER TABLE [dbo].[TEACHERS]  WITH CHECK ADD  CONSTRAINT [CK_TEACHERS_FIRSTNAME] CHECK  ((len([FIRSTNAME])>=(1)))
GO
ALTER TABLE [dbo].[TEACHERS] CHECK CONSTRAINT [CK_TEACHERS_FIRSTNAME]
GO
ALTER TABLE [dbo].[TEACHERS]  WITH CHECK ADD  CONSTRAINT [CK_TEACHERS_LASTNAME] CHECK  ((len([LASTNAME])>=(1)))
GO
ALTER TABLE [dbo].[TEACHERS] CHECK CONSTRAINT [CK_TEACHERS_LASTNAME]
GO
USE [master]
GO
